<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="hubconnectionstring" value="HostName=<your account>.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=lvH0CgJmTqriw1Qd6Jx7Psv2MNck+2VuySvAOBWUkL4=" />
    <add key="docdbkey" value="your docdb key" />
    <add key="databaseId" value="your docdb db" />
    <add key="collectionId" value="your docdb collection" />
    <add key="docdburi" value="https://<your account>.documents.azure.com:443/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
